body{
    height: 100%;
    width: 100%;
}

header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: var(--color-top);
    height: 100px;
    top: 0;
    position: fixed;
}

ul{
    display: flex;
    gap: 20px;
    color:white;
    
}

li{
    list-style: none;
    .button{
        background-color: rgb(202, 202, 202);
    }
}

.button{
    background-color: var(--color-top);
    color: white;
    padding: 5px;
    border: 0px;
    list-style: none;
    text-decoration: none;
    transition: 0.1s;
    &:hover{
        cursor: pointer;
        font-size: 20px;
    }
}

main{
    display: flex;
    background-color: rgb(189, 189, 189);
    height: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.24);
    justify-content: center;
    align-items: center;
}

.text{
    width: 100%;
    align-items: center;
    justify-content: space-around;
    display: flex;
    font-size: 30px;
    color: (--color-top);
    p{
        font-size: 10px;
    }
}

.anonymous{
    display: flex;
    margin-top: 50px; 
    justify-content: center;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 500px;
    flex-wrap: wrap;
    flex-direction: column;
}

input{
    border: 2px solid black;
    width: 300px;
}

a{
    color: white;
    background-color: black;
    padding: 10px;
    text-decoration: none;
}

textarea{
    border: 2px solid black;
    width: 300px;
    height: 200px;
}

.footer{
    display: flex;
    background-color: rgb(202, 202, 202);
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0px;
}

.footer-links{
    text-decoration: none;
    a{
        text-decoration: none;
        color: black;
    }
}
