body{
    height: 100%;
    width: 100%;
}

header{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: var(--color-top);
    height: 100px;
    top: 0;
    position: fixed;
    
}

header nav{
    display: flex;
}

ul{
    display: flex;
    gap: 20px;
    color:white;
}

li{
    list-style: none;
    .button{
        background-color: rgb(202, 202, 202);
    }
}


.button{
    background-color: var(--color-top);
    color: white;
    padding: 5px;
    border: 0px;
    list-style: none;
    text-decoration: none;
    transition: 0.1s;
    &:hover{
        cursor: pointer;
        font-size: 20px;
    }
}

main{
    display: flex;
    background-color: rgb(189, 189, 189);
    height: 100%;
    border-bottom: 2px solid rgba(0, 0, 0, 0.24);
}

.main{
    margin-top: 150px ;
    padding: 20px;
}

.title{
    font-size: 20px;
    margin-bottom: 20px;
}

.description{
    width: 50%;
}

.anonymous{
    display: flex;
    margin-top: 50px; 
    justify-content: center;
}

.footer{
    display: flex;
    background-color: rgb(202, 202, 202);
    width: 100%;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0px;
}

.footer-links{
    text-decoration: none;
    a{
        text-decoration: none;
        color: black;
    }
}
